extends layout

block content
  h1 Login to PayPal System
  form(action='/users/login', method='POST')
    if error
      div.alert.alert-danger
        p= error
    .form-group
      label(for='username') Username:
      input.form-control(type='text', name='username', id='username', required=true)
    .form-group
      label(for='password') Password:
      input.form-control(type='password', name='password', id='password', required=true)
    .form-group
      button.btn.btn-primary(type='submit') Login
  br
  p Don't have an account? 
  a(href='/users/register') Register here
