extends layout

block content
  .register
    h1 Register to PayPal System
    if error
      .alert.alert-danger
        p #{error}
    form(method='POST', action='/users/register')
      .form-group
        label(for='username') Username
        input.form-control(type='text', id='username', name='username', placeholder='Enter your username', required=true)
      .form-group
        label(for='email') Email
        input.form-control(type='email', id='email', name='email', placeholder='Enter your email', required=true)
      .form-group
        label(for='password') Password
        input.form-control(type='password', id='password', name='password', placeholder='Enter your password', required=true)
      button.btn.btn-primary(type='submit') Register
